[Desktop Entry]
Encoding=UTF-8
Icon=cdrom_unmount_decrypt
Type=MimeType
MimeType=media/cdrom_unmounted_decrypted
Comment=Unmounted Decrypted CD-ROM
Comment[de]=Nicht eingebundene, entschlüsselte CD-ROM
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory

