[Desktop Entry]
Encoding=UTF-8
Icon=hdd_mount_decrypt
Type=MimeType
MimeType=media/hdd_mounted_decrypted
Comment=Mounted Decrypted Hard Disk Volume
Comment[de]=Eingebundene, entschlüsselte Festplattenpartition
Patterns=

X-KDE-AutoEmbed=true
X-KDE-IsAlso=inode/directory

